body{
    background: linear-gradient(145.88deg, #E5FFE0 3.18%, #B5FEA7 28.3%, #B5FEA7 46.48%);
    color: #1D8696;
    font-family: 'Lato', sans-serif;
}

header{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url(Imágenes/pokemon-i-choose-you.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #B5FEA7;
    padding: 5%;
    background-repeat: no-repeat;
}
select{
    display: block;
    font-family: inherit;
}

h5{
    padding: 0.75rem;
    
}

blockquote{
    margin: 20px 0.75rem;
    border-left: 5px solid #456A6C;
}

.card-title{
    height: 71px;
    word-wrap: break-word;
}

.card
.card-image img{
    width: inherit;
}

.buttonCard{
    cursor: pointer;
    color: inherit;
}

.card.small{
    transition: 0.25s;
}

.card.small:hover,
.card.small:focus{
    box-shadow: 2px 7px 7px 2px rgba(0,0,0,0.65);
    transform: translateY(-0.30em);
}

.modal{
    z-index: 2;
    background-color: rgba(0,0,0,0.4);
    min-width: 100%;
    min-height: 100%;
}

.modal .modal-content{
    margin: 15% 25%;
    padding: 0;
}

.white{
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

h4{
    padding-top: 5px;
}

.card.horizontal{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 0 0 rgba(0,0,0,0.2)
}